* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
    font-size: 18px;
    overflow : hidden;
    
}

#content-container {
    display: flex;
    justify-content: flex-end;
}

/* BARRE DE NAVIGATION */
#nav {
    position : fixed;
    top:0;
    left: 0;
    display: flex;
}
.nav__link {
    padding : 1rem 2rem;
}

/*MAIN*/
#main{
    width: 90%;
}

.years__container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*SINGLE YEAR*/
.singleYear__container{
    height: 70vh;
    background-color: aliceblue;
    border: 1px solid gray;
    padding : 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}

.singleYear__cover {
    width : 17%;
    height : 55vh;
    margin-right: 1.5rem;
    background-color: darkgrey;

}

/*CONFERENCES*/
.conferences__container {
    width: 88%;
    height: 60vh;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

/*CONFERENCE*/
.singleConference__container {
    width: 30rem;
    margin-right: 1.5rem;
}

.singleConference__header,.singleConference__video,.singleConference__description {
    width: 30rem;
}

.singleConference__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singleConference__header {
    margin: 0.75rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.singleConference__video {
    height : 30vh;
    background-color: lightcoral;
}

/*ASIDE*/
#aside {
    position : fixed;
    top : 0;
    left : 0;
    width: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aside__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aside__link {
    font-weight: 600;
    color: black;
    padding : 1rem 2rem;
    text-decoration: none;
}