* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
    font-size: 18px;
    /* overflow : hidden; */

}

#content-container {
    display: flex;
    justify-content: flex-end;
}

/* BARRE DE NAVIGATION */
#nav {
    position : fixed;
    top:0;
    left: 0;
    display: flex;
}
.nav__link {
    padding : 1rem 2rem;
}

/*MAIN*/
#main{
    width: 90%;
}

.years__container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*SINGLE YEAR*/
.singleYear__container{
    height: 70vh;
    background-color: aliceblue;
    border: 1px solid gray;
    padding : 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}

.singleYear__cover {
    width : 17%;
    height : 55vh;
    margin-right: 1.5rem;
    background-color: darkgrey;
    /*DEV ONLY*/
    text-align: center;
    padding : auto 0;

}

/*CONFERENCES*/
.conferences__container {
    width: 88%;
    height: 60vh;
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    scroll-behavior:unset;

}

/* width */
.conferences__container::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  .conferences__container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  .conferences__container::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
  

/*CONFERENCE*/
.singleConference__container {
    width: 30rem;
    margin-right: 1.5rem;
}

.singleConference__header,.singleConference__video,.singleConference__description {
    width: 30rem;
}

.singleConference__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singleConference__header {
    margin: 0.75rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.singleConference__video {
    height : 30vh;
    background-color: lightcoral;
}

/*ASIDE*/
#aside {
    position : fixed;
    top : 0;
    left : 0;
    width: 10%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside__container{
    width: 80%;
    height: 80%;
    position : relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.aside__y--dot-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.aside__y--dot{
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: black;
    border : 1px solid black;
    margin-right: 0.7rem;
}


.aside__y--text{
    text-align: center;
    width: 4rem;
    font-size: 1rem;
    padding: 0.2rem 0.75rem;
    border-radius: 1.25rem;
    border : 1px solid black;
}

.aside__y--canvas{
    position: absolute;
    top: 0;
    left: 0;
}



.aside__link {
    font-weight: 600;
    color: black;
    padding : 1rem 2rem;
    text-decoration: none;
}